<!DOCTYPE html>
<html>
  <head>
    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>Security Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="index.html">Security Go by Example</a></h2>
      <p>Page not found!</p>
      <p class="footer">
        by <a href="https://parsiya.net target="_blank"">Parsia Hakimian</a> | <a href="https://twitter.com/CryptoGangsta" target="_blank">@CryptoGangsta</a> | <a href="https://github.com/parsiya/securitygobyexample.com" target="_blank">source</a> | <a href="https://github.com/parsiya/securitygobyexample.com#license" target="_blank">license</a> | <a href="http://hackingwithgo.com" target="_blank">Hacking with Go Tutorials</a>
      </p>
      <p class="footer">Inspired by <a href="https://gobyexample.com" target="_blank">Go by Example</a> by <a href="https://twitter.com/mmcgrana" target="_blank">@mmcgrana</a>
      </p>
    </div>
  </body>
</html>
