<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Security Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="index.html">Security Go by Example</a></h2>
      <p>
        <em>Security Go by Example</em> is a hands-on introduction to Go for security professionals.
        It's inspired by <a href="https://gobyexample.com" target="_blank">Go by Example</a> and uses the same toolchain.
      </p>
      <p>
        Also checkout Hacking with Go tutorials at <a href="http://hackingwithgo.com" target="_blank">HackingwithGo.com</a>, covering the basics and tool creation.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.Id}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      {{ template "footer" . }}
    </div>
  </body>
</html>

{{ define "footer" }}
    <p class="footer">
        by <a href="https://parsiya.net" target="_blank">Parsia Hakimian</a> | 
        <a href="https://twitter.com/CryptoGangsta" target="_blank">@CryptoGangsta</a> |
        <a href="https://github.com/parsiya/securitygobyexample.com/" target="_blank">source</a> | 
        <a href="https://github.com/parsiya/securitygobyexample.com#license" target="_blank">license</a> | 
        <a href="http://hackingwithgo.com" target="_blank">Hacking with Go Tutorials</a>
    </p>
    <p class="footer">
        Based on <a href="https://gobyexample.com" target="_blank">Go by Example</a> by <a href="https://twitter.com/mmcgrana" target="_blank">@mmcgrana</a>
    </p>
{{ end }}
